* {
    box-sizing: border-box
    font-family: "sans-serif"
}

.img-container > * {
  font-size: 0;
}

  .img > * {
    display: inline-block;
    vertical-align: top;                   font-size: medium;
  }
    img{
       width: 100%;
       display: block;
    }
